.product-box {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.hover-button {
    display: flex;
    flex: 1;
    width: 100%; 
  color: var(--button-text);
  border-color: var(--button-border);
  transition: background-color 0.6s ease, color 0.6s ease;
}

.hover-button:hover {
  background-color: var(--button-hover-bg);
  color: white;
}

.image{
   background-color:"green";
   display:'flex';
   flex:1;
   width: 100%;
  aspect-ratio: 2 / 3; 
  object-fit: cover;
}

.product-name-text{
    justify-self: center;
    align-items: center;
}

.product-price-text{
    justify-self: center;
    align-items: center;
}

.size-count-con{
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: space-around;
}

.image-cont{
     display: flex;
    flex: 1;
}

.image{
      width: 100%;         /* full width of container */
  height: auto;        /* adjusts height to preserve aspect ratio */
  display: block;      /* removes bottom whitespace from inline img */
}