.sizes{
    margin-top: 20px;
    margin-bottom: 40px;
}

.price-ranges{
        margin-top: 20px;
    margin-bottom: 40px;
    padding: 5px;
    color: #666;
}

.reset-button{
    display: flex;
    flex: 1;
    width: 100%;
}