.delivery-banner {
  padding: 10px;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
}


.sticky-bar{
  position: sticky;
  flex: 1;
  flex-direction: column;
}

.app-bar{
  background-color: white;
}

.appbar{
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}
.appbar-buttons{

}

.logo{
  font-weight: bold;
  color: var(--primary-color);
}

.logoCont{
   display: flex;  
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.breadcrumb{
  padding: 30px;
  color: #959595;
}

.categories{
  color: #666;
  padding-left: 30px;
  padding-bottom: 15px;
}

.content{
  padding:30px;
  padding-top: 60px;
}

.content-topic{
  font-size: xx-large;
  font-weight: bolder;
  color: #666;
  padding-bottom: 20px;
}

.side-panel{
  margin-left:3%
}

.product-grid-cont{
  margin-top: 15px;
}